{% extends "core/base.html" %}
{% block title %}Algo List | Kuber{% endblock %}
{% block content %}
<h1 class="title is-4">Algorithm List</h1>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Min Fund</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for algo in algos %}
      <tr>
        <td>{{ algo.algo_name }}</td>
        <td>{{ algo.minimum_fund_reqd }}</td>
        <td>{{ algo.algo_description|truncatechars:50 }}</td>
        <td>
          <a class="button is-small is-info" href="{% url 'edit_algo' algo.id %}">Edit</a>
          <form method="POST" action="{% url 'delete_algo' algo.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="button is-small is-danger">Delete</button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="4" class="has-text-centered">No algorithms added yet.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
